<h1>All Discounts</h1>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    Name: <%= discount.name %><br>
    Quantity required: <%= discount.quantity %><br>
    Percentage off: <%= discount.discount %>%<br>
    <%= link_to 'Edit', "/merchant/discounts/#{discount.id}/edit" %><br>
  </section>
<% end %>
